.deux {
    background: white;
}

.white-text {
    color: #fff;
}

.post-title {
    display: inline;
}

.button-link {
  padding: 0;
  border: none;
  color: #337ab7;
  background-color: transparent;
  display: inline;
}

.edit-hover {
    display: inline;
}

.edit-hover .hover-text {
    display:none;
}

.edit-hover:hover .hover-text {
    display: inline;
}

.title-hover form {
    display: none;
}

.title-hover:hover form {
    display: inline;
}

.title-hover.hidden-text {
    display: none;
}